<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <%- include("partials/header") %>

    <% if (isLoggedIn) { %>
      <div class="welcome-banner">
        <h2>👋 Welcome back, <%= user.first_name || user.last_name || user.email %>!</h2>
      </div>
    <% } else { %>
      <div class="not-logged-in">
        👋 Hello visitor! You can still see the public version of posts below.
      </div>
    <% } %>

    <%- include("partials/posts", { posts }) %>
  </body>
</html>
