<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <%- include("partials/header") %>

    <% if (user) { %>
<!-- Logged in user view -->


      <%- include("partials/posts") %>

    <% } else { %>
<!-- Guest user view -->
 
     <div class="grid">Hello there! You are not logged in but you can still see the posts</div>
     <%- include("partials/posts") %>

    <% } %>
  </body>
</html>
