<html>
  <head>
    <title>New a post</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <%- include("partials/header") %>
    <%- include("partials/new-post-form", { formError, formData }) %>
  </body>
</html>
